
body {
  background-image: repeating-linear-gradient(
    90deg,              /* listras verticais */
    red,                /* cor da listra 1 */
    red 40px,           /* largura da listra 1 */
    yellow 40px,         /* começo da listra 2 */
    yellow 80px          /* largura da listra 2 */
  );

  margin: 0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  h1 { color: ##FFFFFF; }
p { color: #FFFFFF; }


}

/* Logo fixa no topo direito */
.logo-fixed {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100px;
  z-index: 1000;
}

/* Menu lateral esquerdo */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* leve transparência */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  padding-top: 60px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 20px 0;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Conteúdo principal */
.conteudo {
  margin-left: 220px; /* deixa espaço pro menu */
  padding: 40px;
}

